{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="mt-5">Detail</h1>
    <div class="row mt-4 justify-content-center">

        <div class="col-md-6 mb-4  ">
            <div class="card " style="min-height:350px;">
                <div class="card-body d-flex flex-column ">
                    <h5 class="card-title">{{ finch.name }}</h5>
                    <p class="card-text">Breed: {{ finch.breed }}</p>
                    <p class="card-text">Description: {{ finch.description | linebreaks }}</p>
                    {% if finch.age > 0 %}
                    <p class="card-text">Age: {{ finch.age }}</p>
                    {% else %}
                    <p class="card-text">Age: Kitten</p>
                    {% endif %}

                </div>
                <div class="card-action">
                    <a href="{% url 'finches_update' finch.id %}">
                        <div class="btn btn-info">Edit</div>
                    </a>
                    <a href="{% url 'finches_delete' finch.id %}">
                        <div class="btn btn-danger">Delete</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4 ">
            <form action = "{% url 'add_feeding' finch.id %}" method="POST">
                {% csrf_token %}
                <!-- Render the inputs -->
                <!-- {{ feeding_form.as_p }} -->
                <div class="form-group">
                    <label for="id_date">Date:</label>
                    <input type="text" class="form-control datepicker" id="id_date" name="date">

                  </div>

                  <div class="form-group">
                    <label for="id_meal">Meal:</label>
                    <select class="form-control" id="id_meal" name="meal">
                      <option value="B">Breakfast</option>
                      <option value="L">Lunch</option>
                      <option value="D">Dinner</option>
                    </select>
                  </div>

                <input type="submit" class="btn btn-info" value="Add Feeding">
              </form>
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Meal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feeding in finch.feeding_set.all %}
                    <tr>
                        <td>{{feeding.date}}</td>
                        <td>{{feeding.get_meal_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
<div class="row">
  <div class="col-md-6">
    <h3>{{ finch.name }}'s Toys</h3>
    {% if finch.toys.count %}
    {% for toy in finch.toys.all %}
    
    <div class="card p-3 gap-2 mb-3">
      <div class="card-content">
        <span class="card-title">
          A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'remove_toy' finch.id toy.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Toys</h5>
    {% endif %}
  </div>

  <div class="col-md-6 ">
    <h3>Available Toys</h3>
    {% if available_toys.count %}
    {% for toy in available_toys.all %}
    <div class="card p-3 gap-2 mb-3">
      <div class="card-content ">
        <span class="card-title">
          A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'add_toy' finch.id toy.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Add</button>
        </form>
      </div>

    </div>
    {% endfor %}
    {% else %}
    <h5>{{finch.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>

</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });

</script>

{% endblock %}
